.App {
  background-color: #E8E8E8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25vh;
}

.spc-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  height: 75vh;
}

.pad {
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 190px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
 }

 .pad:active {
  background-color: #353535;
  color: white;
  box-shadow: 20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
 }